<!-- begin::GXON Page Header -->
<header class="app-header">
	<div class="app-header-inner">
		<button class="app-toggler" type="button" aria-label="app toggler">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<div class="app-header-end">
			<div class="px-lg-3 px-2 ps-0 d-flex align-items-center">
				<div class="dropdown">
					<button class="btn btn-icon btn-action-gray rounded-circle waves-effect waves-light position-relative" id="ld-theme" type="button" data-bs-auto-close="outside" aria-expanded="false" data-bs-toggle="dropdown">
						<i class="fi fi-rr-brightness scale-1x theme-icon-active"></i>
					</button>
					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<button type="button" class="dropdown-item d-flex gap-2 align-items-center" data-bs-theme-value="light" aria-pressed="false">
								<i class="fi fi-rr-brightness scale-1x" data-theme="light"></i> Light
							</button>
						</li>
						<li>
							<button type="button" class="dropdown-item d-flex gap-2 align-items-center" data-bs-theme-value="dark" aria-pressed="false">
								<i class="fi fi-rr-moon scale-1x" data-theme="dark"></i> Dark
							</button>
						</li>
						<li>
							<button type="button" class="dropdown-item d-flex gap-2 align-items-center" data-bs-theme-value="auto" aria-pressed="true">
								<i class="fi fi-br-circle-half-stroke scale-1x" data-theme="auto"></i> Auto
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- end::GXON Page Header -->

<!-- begin::GXON Sidebar Menu -->
		<aside class="app-menubar" id="appMenubar">
			<div class="app-navbar-brand">
				<a class="navbar-brand-logo" href="index.html">
					<img src="../assets/images/logo.svg" alt="GXON Admin Dashboard Logo">
				</a>
				<a class="navbar-brand-mini visible-light" href="index.html">
					<img src="../assets/images/logo-text.svg" alt="GXON Admin Dashboard Logo">
				</a>
				<a class="navbar-brand-mini visible-dark" href="index.html">
					<img src="../assets/images/logo-text-white.svg" alt="GXON Admin Dashboard Logo">
				</a>
			</div>
			<nav class="app-navbar" data-simplebar>
				<ul class="menubar">
          <li class="menu-heading">
						<span class="menu-label">Stats</span>
					</li>
					<li class="menu-item menu-arrow">
						<a class="menu-link" href="javascript:void(0);" role="button">
							<i class="fi fi-rr-apps"></i>
							<span class="menu-label">Dashboard</span>
						</a>
					</li>
					<li class="menu-heading">
						<span class="menu-label">Gestion</span>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="#">
							<i class="fi fi-rr-users"></i>
							<span class="menu-label">Chauffeurs</span>
						</a>
					</li>
          <li class="menu-item">
						<a class="menu-link" href="#">
							<i class="fi fi-rr-users"></i>
							<span class="menu-label">Missions</span>
						</a>
					</li>
          <li class="menu-item">
						<a class="menu-link" href="#">
							<i class="fi fi-rr-users"></i>
							<span class="menu-label">Voiture</span>
						</a>
					</li>
				</ul>
			</nav>
		</aside>
<!-- end::GXON Sidebar Menu -->

<div class="app-main">
  <div class="p-4">
    <h1 class="h4 mb-2">Dashboard</h1>
    <p class="text-body mb-0">Static content placeholder.</p>
  </div>
</div>
